<html>

<head>
    <title>
        <%-params.title%>
    </title>
    <link href="./css/bootstrap.css" rel="stylesheet">
</head>

<body>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span2">
                <!--Sidebar content-->
            </div>
            <div class="span1" align="">
                <!--Body content-->
                <h1>
                    <%-params.head%>
                </h1>
                <form>
                    <div>
                        <label>Usuario</label>
                        <select id="user">
                        <% params.users.forEach(function(user) { %>
                            <option value=<%= user._id %> ><%= user.name %></option>
                        <% }); %>
                        </select>
                    </div>

                    <button class="btn btn-primary" id="boton" type="button">Enviar</button>
                    <button class="btn btn-danger" id="limpiar" type="button">Limpiar</button>
                </form>
                <br></br>
                <table>
                    <thead>
                        <tr>
                            <td>Nombre</td>
                            <td>Correo</td>
                            <td>Genero</td>
                            <td>Edad</td>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script src="./js/jquery-3.2.1.min.js"></script>
    <script src="./js/appoimentTypes.js"></script>
</body>

</html>
